@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&family=Montserrat:wght@300&family=Open+Sans:ital,wght@1,300&family=Roboto:wght@300&display=swap');

body {
  padding: 0;
  margin: 0;
}

header {
  background: #8338EC;
  height: auto;
}

nav {
  float: right;
  clear: both;
  padding: 1em;
}

nav a {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8em;
  padding: 1em;
  color: #FFFFFF;
}

.header-img {
  border-radius: 0 0 50% 50%;
  background: #8338EC;
  height: 100px;
  position: relative;
  top: 95px;
}

.login-btn {
  background: #D62828;
  border-radius: 25px;
  padding: 0.5em 2.5em;
}

.learn-more {
  background: #A8DADC;
  border-radius: 25px;
  padding: 0.5em 2em;
  margin: 0 2em;
  display: inline;
  color: #FFFFFF;
}

.row {
  width: 100%;
  padding: 0;
  margin: 0;
}

.header h1 {
  color: #FFFFFF;
  padding: 1em;
  font-family: 'Baloo Tamma 2', cursive;
}

.header p {
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
  padding: 1em 2em;
}

.col {
  padding: 0;
  margin: 0;
}

section {
  padding: 50px 1em;
}

section h1 {
  font-family: 'Baloo Tamma 2', cursive;
  color: #8338EC;
  text-align: center;
}

.feature {
  text-align: center;
}

.feature i {
  font-size: 3em;
  padding: 1em;
  color: #8338EC;
}

.feature-col p {
  padding: 1em 5em 1em 5em;
}

.feature-col h1 {
  padding: 1em;
}

.feature-col a {
  margin-left: 5em;
}

footer {
  background: #8338EC;
  text-align: center;
}

footer h1 {
  text-align: center;
  color: #FFFFFF;
  font-family: 'Baloo Tamma 2',cursive;
  width: 50%;
  margin: auto;
}

footer p {
  width: 60%;
  margin: auto;
  text-align: center;
  color: #FFFFFF;
  padding: 1em;
}

footer h3 {
  color: #FFFFFF;
  font-family: 'Baloo Tamma 2',cursive;
  text-align: left;
}

footer a {
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
  display: block;
  padding: 0.25em;
  text-align: left;
}

.footer-img {
  border-radius: 50% 50% 0 0;
  background: #8338EC;
  height: 100px;
  position: relative;
  top: -50px;
}

.social a {
  font-size: 1.5em;
  display: inline;
  padding: 0;
  padding-right: 15px;
}

.copyright {
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8em;
}

text {
  font-weight: bold;
}

#feature {
  height: 650px;
}
